@import "./variable"
.text-wrap
	word-wrap break-word
	word-break break-all
._table
	display table
._table-cell
	display table-cell
	vertical-align middle
	word-wrap break-word
	word-break break-all
.inline-block
	display inline-block
.p0
	padding 0!important
.txt-overflow
	text-overflow ellipsis
	white-space nowrap
	overflow hidden!important
.text-clip
	text-overflow clip
.text-bold
	font-weight bold
.text-gray
	color $color-text-gray
.text-center
	text-align center
.por
	position relative
.poa
	position absolute
.pointer
	cursor pointer