//自定义图标

@font-face {
    font-family: 'customfont';
    src: url('../font/iconfont.ttf') format('truetype');
}

[class^="icon-custom-"], [class*=" icon-custom-"]
  &:before
        font-family: 'customfont'

.icon-custom-water
  &:before
    content: '\e756'
.icon-custom-car
  &:before
    content: '\e6dd'
.icon-custom-keep
  &:before
    content: '\e743'
.icon-custom-yuyue
  &:before
    content: '\e600'
.icon-custom-xunjia
  &:before
    content: '\e6c6'
.icon-custom-car2
  &:before
    content: '\e623'
.icon-custom-huodong
  &:before
    content: '\e655'


.icon-custom-more
  &:before
    content: '\e658'
.icon-custom-arrow-left
  &:before
    content: '\ea68'
.icon-custom-arrow-right
  &:before
    content: '\ea69'
.icon-custom-arrow-top
  &:before
    content: '\ea6b'
.icon-custom-arrow-bottom
  &:before
    content: '\ea6c'

.icon-custom-dianhua
  &:before
    content: '\e65d'
.icon-custom-dianhua1
  &:before
    content: '\e800'
.icon-custom-qiaquan
  &:before
    content: '\e605'



