// 颜色定义规范
$color-background = #F8F8F8!important
$color-background-d = rgba(0, 0, 0, 0.04)
$color-highlight-background = #FFF
$color-theme = #3F69F7
$color-sub-theme = #FF5A16
$color-background-vip = #f7f7f7

$color-text = #333
$color-sub-text = #9b9b9b
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-text-gray = #9b9b9b

$color-border = rgba(0, 0, 0, 0.08)
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
